{% extends 'base.html' %}
{% block content %}

<table class="value-table">
  <tbody>
    {% for key, value in data.items() %}
      <tr>
        <td>
            {{ key }}
        </td>
        {% if key.endswith('aqi'): %}
        <td class="aqi">
        {% elif key.endswith('aqi_label') %}
        <td class="aqi_label_{{ value.lower() }}">
        {% else %}
        <td>
        {% endif %}
            {{ value }} {{ units[key] }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
